mat-grid-list {
  margin: 0 20px;

  .mat-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    min-width: 100%;
    min-height: 100%;
    padding: 2px 2px 5px;

    mat-card {
      flex: 1 0 auto;
      align-self: stretch;
    }
  }
}
